services:
  kafka-1:
    image: confluentinc/cp-kafka:latest
    healthcheck:
      test: ["CMD", "kafka-cluster", "cluster-id", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_HEAP_OPTS: "-Xms256M -Xmx256M"
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-1:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
    networks:
      - kafka-network

  kafka-2:
    image: confluentinc/cp-kafka:latest
    healthcheck:
      test: ["CMD", "kafka-cluster", "cluster-id", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_HEAP_OPTS: "-Xms256M -Xmx256M"
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-2:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
    networks:
      - kafka-network

  kafka-3:
    image: confluentinc/cp-kafka:latest
    healthcheck:
      test: ["CMD", "kafka-cluster", "cluster-id", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_HEAP_OPTS: "-Xms256M -Xmx256M"
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-3:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
    networks:
      - kafka-network

  producer-1:
    build: ./producer
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
      OUTPUT_TOPIC: raw_data
      DATASET_PATH: /data/data1.csv
      PRODUCER_ID: '1'
    volumes:
      - ./data:/data
      - ./code:/app/code
    networks:
      - kafka-network
    depends_on:
      init-kafka:
        condition: service_completed_successfully

  producer-2:
    build: ./producer
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
      OUTPUT_TOPIC: raw_data
      DATASET_PATH: /data/data2.csv
      PRODUCER_ID: '2'
    volumes:
      - ./data:/data
      - ./code:/app/code
    networks:
      - kafka-network
    depends_on:
      init-kafka:
        condition: service_completed_successfully

  consumer-preprocess:
    build: ./consumer_preprocess
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
      INPUT_TOPIC: raw_data
      OUTPUT_TOPIC: raw_preprocessed
      SCALER_PATH: /scaler/scaler.pkl
    volumes:
      - ./scaler:/scaler
      - ./code:/app/code
    networks:
      - kafka-network
    depends_on:
      init-kafka:
        condition: service_completed_successfully

  consumer-ml:
    build: ./consumer_ml
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
      MODEL_PATH: /model/model.pkl
      INPUT_TOPIC: raw_preprocessed
      OUTPUT_TOPIC: ready_data
    volumes:
      - ./model:/model
      - ./code:/app/code
    networks:
      - kafka-network
    depends_on:
      init-kafka:
        condition: service_completed_successfully

  consumer-dashboard:
    build: ./consumer_dashboard
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
      INPUT_TOPIC: ready_data
    volumes:
      - ./code:/app/code
    networks:
      - kafka-network
    depends_on:
      init-kafka:
        condition: service_completed_successfully
    ports:
      - "8501:8501"

  init-kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    entrypoint: [ "/bin/sh", "-c" ]
    command: |
      "
      echo 'Creating topics...'
      kafka-topics --bootstrap-server kafka-1:9092 --create --if-not-exists --topic raw_data --partitions 3 --replication-factor 3 --config min.insync.replicas=2
      kafka-topics --bootstrap-server kafka-1:9092 --create --if-not-exists --topic raw_preprocessed --partitions 3 --replication-factor 3 --config min.insync.replicas=2
      kafka-topics --bootstrap-server kafka-1:9092 --create --if-not-exists --topic ready_data --partitions 3 --replication-factor 3 --config min.insync.replicas=2
      echo 'Topics created.'
      "
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge
